body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Roboto";
}

a {
    display: inline-block;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
@mixin section_header($color: #000) {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: $color;
}

@mixin body_text($color: #000) {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: $color;
}

@mixin any_text($color: #000, $font_size: 18px, $line_height: 28px, $font_weight: 400) {
    font-size: $font_size;
    color: $color;
    font-weight: $font_weight;
    line-height: $line_height;
}

@mixin button($color: #fff, $hover_color: #000, $background: #000, $hover_bg: transparent) {
    padding: 0;
    border: none;
    background: none;

    a {
        border: 1px solid #000;
        padding: 12px 24px;
        font-size: 16px;
        line-height: 150%;
        background: $background;
        color: $color;
        border-radius: 5px;
        text-decoration: none;
        transition: all 0.5s ease;

        &:hover {
            background-color: $hover_bg;
            color: $hover_color;
        }
    }
}

@mixin d_flex($j_content: space-between,
    $a_items: center,
    $f_direction: row) {
    display: flex;
    justify-content: $j_content;
    align-items: $a_items;
    flex-direction: $f_direction;
    flex-wrap: wrap;
}

.container {
    width: 80%;
    margin: auto;
    @include d_flex()
}

header {
    padding: 16px;
    border-bottom: 1px solid #676767;

    .logo {
        width: 20%;

        img {
            width: 130px;
            height: 40px;
            object-fit: contain;
        }
    }

    .navbar {
        width: 60%;
        @include d_flex();

        nav ul {
            @include d_flex();
            list-style: none;

            li {
                padding: 5px 10px;

                a {
                    @include any_text($font_size: 16px, $line_height: 150%);
                    text-decoration: none;
                    transition: all 0.5s ease;

                    &:hover {
                        padding-bottom: 3px;
                        border-bottom: 1px solid #000;
                    }
                }
            }
        }

        button {
            @include button();
        }
    }
}

.hero {
    min-height: 95vh;
    background-color: #FAF7F2;
    @include d_flex();

    .hero_titles {
        width: 50%;

        .wrapper {
            max-width: 580px;
            margin: auto;

            h1 {
                @include any_text($font_size: 56px, $font_weight: 700, $line_height: 120%)
            }

            p {
                @include body_text();
            }

            .btn_grp {
                button {
                    &:first-child {
                        @include button();
                        margin-right: 16px;
                    }

                    &:last-child {
                        @include button($color: #000,
                            $background: transparent,
                            $hover_bg: #000,
                            $hover_color: #fff)
                    }
                }
            }
        }
    }

    .hero_img {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.volunteers {
    background-color: #FAF7F2;
    padding: 80px 20px;

    .container {
        flex-direction: column;

        h2 {
            @include any_text($font_weight: 700)
        }

        .logo_grid {
            @include d_flex();

            img {
                width: 125px;
                height: 40px;
                object-fit: contain;
            }
        }
    }
}

.join_us {
    padding: 110px 20px;

    .container {
        gap: 80px;

        .join_img {
            width: 50%;

            img {
                width: 616px;
                height: 640px;
                object-fit: cover;
                border-radius: 5px;
            }
        }

        .join_us_titles {
            width: 43%;

            h2 {
                @include section_header()
            }

            p {
                @include body_text()
            }

            .btn_grp {
                button {
                    &:first-child {
                        @include button();
                        margin-right: 16px;
                    }

                    &:last-child {
                        @include button($color: #000,
                            $background: transparent,
                            $hover_bg: #000,
                            $hover_color: #fff)
                    }
                }
            }
        }
    }
}

.achivements {
    padding: 110px 20px;
    text-align: center;

    .container {
        flex-direction: column;

        h2 {
            @include section_header()
        }

        >p {
            @include body_text()
        }

        .counter_grp {
            width: 100%;
            @include d_flex();

            .single_counter {
                width: 20%;

                h3 {
                    @include any_text($font_weight: 700, $font_size: 40px);
                    margin-bottom: -10px;
                }

                p {

                    @include any_text($font_size: 16px)
                }
            }
        }
    }
}
.our_mission{
    padding: 110px 20px;
    .container{
        .mission_titles{
            width: 40%;
            span{
                display: block;
                @include any_text($font_weight: 600, $font_size: 16px)
            }
            h2{
                @include section_header();
            }
            p{
                @include body_text()
            }
            button{
                padding: 0;
                background: none;
                border: none;
                a{
                    @include any_text($font_size: 16px);
                    text-decoration: none;
                    @include d_flex();
                    gap: 10px;
                }
            }
        }
        .mission_img{
            width: 50%;
            img{
                width: 616px;
                height: 640px;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
}
.help{
    padding: 110px 20px;
    .container{
        flex-direction: column;
        h2{
            max-width: 770px;
            margin: auto;
            @include any_text($font_size: 56px, $line_height: 120%, $font_weight: 700);
            text-align: center;
        }
        p{
            @include body_text()
        }
        .card_wrapper{
            width: 100%;
            margin-top: 80px;
            @include d_flex();
            .single_card{
                width: 23%;
                text-align: center;
                border: 1px solid #000;
                border-radius: 5px;
                padding: 25px;
                >img{
                    margin-bottom: 25px;
                }
                h4{
                    @include any_text($font_size: 20px, $font_weight: 600)
                }
                p{
                    @include any_text($font_size: 16px, $line_height: 150%);
                    margin-bottom: 25px;
                }
                button{
                    @include button(
                        $background: transparent, 
                        $color: #000,

                        );
                        a{
                            @include d_flex();
                            gap: 10px;
                        }
                }
            }
        }
    }
}
.blog{
    padding: 110px 20px;
    .container{
        flex-direction: column;
        >span{
            @include any_text($font_size: 16px, $font_weight: 600);
            margin-bottom: 16px;
        }
        h2{
            @include any_text($font_size: 56px, $line_height: 120%, $font_weight: 700);
        }
        p{
            @include body_text()
        }
        a{
            text-decoration: none;
        }
        .blog_cards{
            width: 100%;
            @include d_flex();
            margin-top: 80px;
            .card{
                width: 32%;
                img{
                    width: 100%;
                    height: 300px;
                    border-radius: 5px;
                    object-fit: cover;
                }
                span{
                    @include any_text($font_size: 14px, $font_weight: 600);
                    margin-top: 25px;
                    margin-bottom: 10px;
                    display: block;
                }
                h3{
                    @include any_text($font_size: 24px, $font_weight: 700);
                }
                p{
                    @include any_text($font_size: 16px, $font_weight: 400);
                }
            }
        }
    }
}
.reviews{
    padding: 110px 20px;
    .container{
        flex-direction: column;
        align-items: flex-start;
        .headings{
            max-width: 560px;
            h2{
                @include section_header()
            }
            p{
                @include body_text()
            }
        }
        .review_wrapper{
            margin-top: 80px;
            @include d_flex();
            .review{
                width: 45%;
                .star_holder{
                    @include d_flex($j_content: flex-start);
                    gap:5px;
                    img{
                        width: 20px;
                        height: 20px;
                        object-fit: contain;
                    }
                }
                p{
                    @include any_text($font_size: 20px, $font_weight: 700, $line_height: 140%, $color: #676767);
                    margin: 30px 0px;
                    &::before{
                        content: '"';
                    }
                    &::after{
                        content: '"';
                    }
                }
                .user{
                    @include d_flex($j_content: flex-start);
                    gap: 20px;
                    img{
                        height: 55px;
                        width: 55px;
                        object-fit: cover;
                        border-radius: 200px;
                    }
                    h5{
                        @include any_text($font_size: 16px, $font_weight: 700)
                    }
                }
            }
        }
    }
}
.cta{
    padding: 110px 20px;
    background-image: url("/img/cta_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    &_wrapper{
        max-width: 768px;
        margin: auto;
        h2{
            @include section_header();
            color: #fff;
        }
        p{
            @include body_text();
            color: #fff;
            margin: 25px 0px;
        }
        .btn_grp{
            button{
                &:first-child{
                    @include button($background: transparent, $color: #fff, $hover_bg: #fff);
                    a{
                        border-color: #fff;
                    }
                    margin-right: 24px;
                }
                &:last-child{
                    padding: 0;
                    margin: 0;
                    background: transparent;
                    border: none;
                    a{
                        @include d_flex();
                        gap: 10px;
                        text-decoration: none;
                        @include any_text($font_size: 16px);
                        color: #fff;
                        img{
                            filter: invert(100%);
                        }
                    }
                }
            }
        }
    }
}
footer{
    padding: 80px 20px;
    .container{
        flex-direction: column;
        align-items: flex-start;
        .footer_top{
            width: 100%;
            text-align: center;
            img{
                height: 40px;
                width: 130px;
                object-fit: contain;
            }
            ul{
                list-style: none;
                @include d_flex();
                gap: 20px;
                max-width: 320px;
                margin: auto;
                margin-top: 30px;
                a{
                    @include any_text($font_size: 16px, $font_weight: 600);
                    text-decoration: none;
                }
            }
        }
        .footer_bottom{
            width: 100%;
            border-top: 1px solid #000;
            margin-top: 60px;
            padding-top: 30px;
            @include d_flex();
            p{
                @include any_text($font_size: 14px)
            }
            nav{
                ul{
                    @include d_flex();
                    list-style: none;
                    gap: 24px;
                    a{
                        @include any_text($font_size: 14px)
                    }
                }
            }
        }
    }
}